WEB_BASE_URL=https://qae-assignment-tau.vercel.app/
API_BASE_URL=https://qae-assignment-tau.vercel.app/api/
API_DOCUMENTATION_URL=https://qae-assignment-tau.vercel.app/api/docs?format=json
USER_ID=...
LOG_LEVEL=DEBUG|INFO|ERROR....